/node_modules
__pycache__

# Ignorar conteúdo da pasta uploads do backend, mas manter a estrutura
backend/uploads/*
!backend/uploads/.gitkeep

# Remover regra antiga de uploads
/temp_uploads
/uploads/
uploads/
